<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% include components/header %>
	<div class="container">
		<div class="navbar">
			<ul>
				<li><a href="/admin/product">Products</a></li>
				<li><a href="#"></a>Item-1</li>
				<li><a href="#"></a>Item-2</li>
				<li><a href="#"></a>Item-3</li>
				<li><a href="#"></a>Item-4</li>
				<li><a href="#"></a>Item-5</li>
			</ul>
		</div>
		<div class="row"></div>
	</div>

	<% include components/footer %>
</body>
</html>