<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Manage Product</title>
	<% include ../components/init-css %>
</head>
<body>
	<% include components/header %>

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="navbar">
					<ul>
						<li><a href="/admin/product/add">Add</a></li>
						<li><a href="/admin/product/manage">Manage</a></li>
					</ul>
				</div>
			</div>
			<div class="md-lg-9">
				<head>
					<h2>Product Manage</h2>
				</head>
				
			</div>
		</div>
	</div>

	<% include components/footer %>
	<% include ../components/init %>
</body>
</html>