<%

  var info = config || {},
      navbar = info.header.navbar;

%>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><%=navbar.sitename%></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <%
          var items = navbar.items;  
          for (var i = 0; count = items.length, i < count; i++) {
            %>
              <li>
                <a href="javascript:void(0)"><%=items[i]%></a>
              </li>
            <%
          }
        %>
      </ul><!--Left Navbar-->

      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
        <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
      </ul> -->

    </div>
  </div>
</div>